body {
    background-color: #e8e8e8;
    color: #181818;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
}

.header {
    width: 1350px;
    height: 80px;
    display: flex;
    background: #666666;
}

.title {
    background-image: linear-gradient(to right, #e61010 50%, #666666 50%);
    width: 500px;
    height: 80px;
    display: flex;
    background-size: 200% 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #d8d8d8;
    background-position: right bottom;
    transition: background-position 450ms ease-in;
}

.title:hover {
    background-position: left bottom;
    transition: background-position 450ms ease-out;
}


.main-page-logo {
    color: #d8d8d8;
}

.item_index {
    width: 700px;
    height: 275px;
    background-color: #e1e1e1;
    margin: 24px;
    box-shadow: #ccc 10px 10px 10px;
    display: flex;
}

.cart {
    margin-left: auto;
    width: 150px;
    background-color: #282828;
    text-align: center;
    opacity: 1;
    transition: opacity 450ms;
}

a.cart-logo {
    color: #d8d8d8;
    font-size: 1.25rem;
}

.cart:hover {
    opacity: 0.65;
    transition: opacity 450ms;
}

.items {
    display: flex;
    width: 1600px;
    flex-wrap: wrap;
    gap: 10px;
}

.description {
    height: 275px;
    width: 275px;
    margin-left: auto;
}

h5 {
    color: #282828;
    font-size: 1.5rem;
    margin: 20px;
}

label {
    color: #282828;
    font-size: 1.5rem;
    margin-left: 20px;
    margin-top: 20px;
}

.item-large-index {
    height: 550px;
    width: 1150px;
    background-color: #e1e1e1;
    margin: 40px;
    box-shadow: #ccc 15px 15px 15px;
    display: flex;
}

.detail-info {
    height: 500px;
    width: 400px;
    margin-left: auto;
}

.quantity {
    width: 200px;
    height: 30px;
    border: none;
    background-color: #e1e1e1;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

.shipping {
    width: 350px;
    height: 30px;
    border: none;
    background-color: #e1e1e1;
    font-size: 1.5rem;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.add-to-cart {
    border: none;
    background-color: #1060d6;
    color: white;
    height: 75px;
    width: 200px;
    font-size: 1.5rem;
    border-radius: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.sum_cost {
    background-color: #e1e1e1;
    height: 150px;
    width: 600px;
    margin: auto;
    box-shadow: #ccc 10px 10px 10px;
    font-size: 1.5rem;
    text-align: center;
}